{% set navs = ['features', 'integrations', 'pricing', 'company', 'blog'] -%}

<header class="bg-white shadow">
  <div class="flex max-w-[1200px] px-5 mx-auto justify-between items-center">
    <a href="">
      <img src="./assets/img/logo.svg" class="w-[200px] h-[inherit]">
    </a>
    <nav>
      <ul>
        {% for nav in navs -%}
          <li class="inline-block capitalize font-medium">
            <a href="#" class="py-5 px-3 inline-block hover:text-blue-primary transition duration-300 ">{{ nav }}</a>
          </li>
        {%- endfor %}
        <li class="inline-block font-medium">
          <a href="#" class="py-2 px-3 mx-2 text-blue-primary border border-blue-primary hover:bg-blue-primary hover:text-white transition duration-200">Get a demo</a>
        </li>
        <li class="inline-block font-medium">
          <a href="#" class="inline-flex items-center px-3 py-5 hover:text-blue-primary transition duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
            </svg>
            <span>Login</span>
          </a>
        </li>
      </ul>
    </nav>
  </div> 
</header>